<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Countries</key>
	<dict>
		<key>AB</key>
		<string>Абхазия</string>
		<key>AU</key>
		<string>Австралия</string>
		<key>AT</key>
		<string>Австрия</string>
		<key>AZ</key>
		<string>Азербайджан</string>
		<key>AL</key>
		<string>Албания</string>
		<key>DZ</key>
		<string>Алжир</string>
		<key>AI</key>
		<string>Ангилья</string>
		<key>AO</key>
		<string>Ангола</string>
		<key>AD</key>
		<string>Андорра</string>
		<key>AQ</key>
		<string>Антарктида</string>
		<key>AR</key>
		<string>Аргентина</string>
		<key>AM</key>
		<string>Армения</string>
		<key>AW</key>
		<string>Аруба</string>
		<key>AF</key>
		<string>Афганистан</string>
		<key>BS</key>
		<string>Багамы</string>
		<key>BD</key>
		<string>Бангладеш</string>
		<key>BB</key>
		<string>Барбадос</string>
		<key>BH</key>
		<string>Бахрейн</string>
		<key>BY</key>
		<string>Беларусь</string>
		<key>BZ</key>
		<string>Белиз</string>
		<key>BE</key>
		<string>Бельгия</string>
		<key>BJ</key>
		<string>Бенин</string>
		<key>BM</key>
		<string>Бермуды</string>
		<key>BG</key>
		<string>Болгария</string>
		<key>BO</key>
		<string>Боливия</string>
		<key>BA</key>
		<string>Босния</string>
		<key>BW</key>
		<string>Ботсвана</string>
		<key>BR</key>
		<string>Бразилия</string>
		<key>BN</key>
		<string>Бруней</string>
		<key>BF</key>
		<string>Буркина-Фасо</string>
		<key>BI</key>
		<string>Бурунди</string>
		<key>BT</key>
		<string>Бутан</string>
		<key>VU</key>
		<string>Вануату</string>
		<key>GB</key>
		<string>Великобритания</string>
		<key>HU</key>
		<string>Венгрия</string>
		<key>VE</key>
		<string>Венесуэла</string>
		<key>VN</key>
		<string>Вьетнам</string>
		<key>GA</key>
		<string>Габон</string>
		<key>HT</key>
		<string>Гаити</string>
		<key>GY</key>
		<string>Гайана</string>
		<key>GM</key>
		<string>Гамбия</string>
		<key>GH</key>
		<string>Гана</string>
		<key>GP</key>
		<string>Гваделупа</string>
		<key>GT</key>
		<string>Гватемала</string>
		<key>GQ</key>
		<string>Гвинея</string>
		<key>GW</key>
		<string>Гвинея-Бисау</string>
		<key>DE</key>
		<string>Германия</string>
		<key>GG</key>
		<string>Гернси</string>
		<key>GI</key>
		<string>Гибралтар</string>
		<key>HN</key>
		<string>Гондурас</string>
		<key>HK</key>
		<string>Гонконг</string>
		<key>GD</key>
		<string>Гренада</string>
		<key>GL</key>
		<string>Гренландия</string>
		<key>GR</key>
		<string>Греция</string>
		<key>GE</key>
		<string>Грузия</string>
		<key>GU</key>
		<string>Гуам</string>
		<key>CD</key>
		<string>ДР Конго</string>
		<key>DK</key>
		<string>Дания</string>
		<key>JE</key>
		<string>Джерси</string>
		<key>DJ</key>
		<string>Джибути</string>
		<key>DM</key>
		<string>Доминика</string>
		<key>DO</key>
		<string>Доминикана</string>
		<key>EG</key>
		<string>Египет</string>
		<key>ZM</key>
		<string>Замбия</string>
		<key>EH</key>
		<string>Западная Сахара</string>
		<key>ZW</key>
		<string>Зимбабве</string>
		<key>IL</key>
		<string>Израиль</string>
		<key>IN</key>
		<string>Индия</string>
		<key>ID</key>
		<string>Индонезия</string>
		<key>JO</key>
		<string>Иордания</string>
		<key>IQ</key>
		<string>Ирак</string>
		<key>IR</key>
		<string>Иран</string>
		<key>IE</key>
		<string>Ирландия</string>
		<key>IS</key>
		<string>Исландия</string>
		<key>ES</key>
		<string>Испания</string>
		<key>IT</key>
		<string>Италия</string>
		<key>YE</key>
		<string>Йемен</string>
		<key>KP</key>
		<string>КНДР</string>
		<key>CV</key>
		<string>Кабо-Верде</string>
		<key>KZ</key>
		<string>Казахстан</string>
		<key>KH</key>
		<string>Камбоджа</string>
		<key>CM</key>
		<string>Камерун</string>
		<key>CA</key>
		<string>Канада</string>
		<key>QA</key>
		<string>Катар</string>
		<key>KE</key>
		<string>Кения</string>
		<key>CY</key>
		<string>Кипр</string>
		<key>KG</key>
		<string>Киргизия</string>
		<key>KI</key>
		<string>Кирибати</string>
		<key>CN</key>
		<string>Китай</string>
		<key>CO</key>
		<string>Колумбия</string>
		<key>KM</key>
		<string>Коморы</string>
		<key>CG</key>
		<string>Конго</string>
		<key>KR</key>
		<string>Корея</string>
		<key>CR</key>
		<string>Коста-Рика</string>
		<key>CI</key>
		<string>Кот дИвуар</string>
		<key>CU</key>
		<string>Куба</string>
		<key>KW</key>
		<string>Кувейт</string>
		<key>CW</key>
		<string>Кюрасао</string>
		<key>LA</key>
		<string>Лаос</string>
		<key>LV</key>
		<string>Латвия</string>
		<key>LS</key>
		<string>Лесото</string>
		<key>LR</key>
		<string>Либерия</string>
		<key>LB</key>
		<string>Ливан</string>
		<key>LY</key>
		<string>Ливия</string>
		<key>LT</key>
		<string>Литва</string>
		<key>LI</key>
		<string>Лихтенштейн</string>
		<key>LU</key>
		<string>Люксембург</string>
		<key>MU</key>
		<string>Маврикий</string>
		<key>MR</key>
		<string>Мавритания</string>
		<key>MG</key>
		<string>Мадагаскар</string>
		<key>YT</key>
		<string>Майотта</string>
		<key>MO</key>
		<string>Макао</string>
		<key>MK</key>
		<string>Македония</string>
		<key>MW</key>
		<string>Малави</string>
		<key>MY</key>
		<string>Малайзия</string>
		<key>ML</key>
		<string>Мали</string>
		<key>MV</key>
		<string>Мальдивы</string>
		<key>MT</key>
		<string>Мальта</string>
		<key>MA</key>
		<string>Марокко</string>
		<key>MQ</key>
		<string>Мартиника</string>
		<key>MX</key>
		<string>Мексика</string>
		<key>FM</key>
		<string>Микронезия</string>
		<key>MZ</key>
		<string>Мозамбик</string>
		<key>MD</key>
		<string>Молдова</string>
		<key>MC</key>
		<string>Монако</string>
		<key>MN</key>
		<string>Монголия</string>
		<key>MS</key>
		<string>Монтсеррат</string>
		<key>MM</key>
		<string>Мьянма</string>
		<key>NA</key>
		<string>Намибия</string>
		<key>NR</key>
		<string>Науру</string>
		<key>NP</key>
		<string>Непал</string>
		<key>NE</key>
		<string>Нигер</string>
		<key>NG</key>
		<string>Нигерия</string>
		<key>NL</key>
		<string>Нидерланды</string>
		<key>NI</key>
		<string>Никарагуа</string>
		<key>NU</key>
		<string>Ниуэ</string>
		<key>NZ</key>
		<string>Новая Зеландия</string>
		<key>NC</key>
		<string>Новая Каледония</string>
		<key>NO</key>
		<string>Норвегия</string>
		<key>AE</key>
		<string>ОАЭ</string>
		<key>OM</key>
		<string>Оман</string>
		<key>PK</key>
		<string>Пакистан</string>
		<key>PW</key>
		<string>Палау</string>
		<key>PS</key>
		<string>Палестина</string>
		<key>PA</key>
		<string>Панама</string>
		<key>PG</key>
		<string>Папуа-Новая Гвинея</string>
		<key>PY</key>
		<string>Парагвай</string>
		<key>PE</key>
		<string>Перу</string>
		<key>PN</key>
		<string>Питкерн</string>
		<key>PL</key>
		<string>Польша</string>
		<key>PT</key>
		<string>Португалия</string>
		<key>PR</key>
		<string>Пуэрто-Рико</string>
		<key>RE</key>
		<string>Реюньон</string>
		<key>RU</key>
		<string>Россия</string>
		<key>RW</key>
		<string>Руанда</string>
		<key>RO</key>
		<string>Румыния</string>
		<key>US</key>
		<string>США</string>
		<key>WS</key>
		<string>Самоа</string>
		<key>SM</key>
		<string>Сан-Марино</string>
		<key>SA</key>
		<string>Саудовская Аравия</string>
		<key>SC</key>
		<string>Сейшелы</string>
		<key>SN</key>
		<string>Сенегал</string>
		<key>RS</key>
		<string>Сербия</string>
		<key>SG</key>
		<string>Сингапур</string>
		<key>SY</key>
		<string>Сирия</string>
		<key>SK</key>
		<string>Словакия</string>
		<key>SI</key>
		<string>Словения</string>
		<key>SO</key>
		<string>Сомали</string>
		<key>SD</key>
		<string>Судан</string>
		<key>SR</key>
		<string>Суринам</string>
		<key>SL</key>
		<string>Сьерра-Леоне</string>
		<key>TJ</key>
		<string>Таджикистан</string>
		<key>TH</key>
		<string>Таиланд</string>
		<key>TW</key>
		<string>Тайвань</string>
		<key>TZ</key>
		<string>Танзания</string>
		<key>TL</key>
		<string>Тимор-Лесте</string>
		<key>TG</key>
		<string>Того</string>
		<key>TK</key>
		<string>Токелау</string>
		<key>TO</key>
		<string>Тонга</string>
		<key>TT</key>
		<string>Тринидад</string>
		<key>TN</key>
		<string>Тунис</string>
		<key>TM</key>
		<string>Туркмения</string>
		<key>TR</key>
		<string>Турция</string>
		<key>UG</key>
		<string>Уганда</string>
		<key>UZ</key>
		<string>Узбекистан</string>
		<key>UA</key>
		<string>Украина</string>
		<key>UY</key>
		<string>Уругвай</string>
		<key>FJ</key>
		<string>Фиджи</string>
		<key>PH</key>
		<string>Филиппины</string>
		<key>FI</key>
		<string>Финляндия</string>
		<key>FR</key>
		<string>Франция</string>
		<key>HR</key>
		<string>Хорватия</string>
		<key>CF</key>
		<string>ЦАР</string>
		<key>TD</key>
		<string>Чад</string>
		<key>ME</key>
		<string>Черногория</string>
		<key>CZ</key>
		<string>Чехия</string>
		<key>CL</key>
		<string>Чили</string>
		<key>CH</key>
		<string>Швейцария</string>
		<key>SE</key>
		<string>Швеция</string>
		<key>LK</key>
		<string>Шри-Ланка</string>
		<key>EC</key>
		<string>Эквадор</string>
		<key>SV</key>
		<string>Эль-Сальвадор</string>
		<key>ER</key>
		<string>Эритрея</string>
		<key>SZ</key>
		<string>Эсватини</string>
		<key>EE</key>
		<string>Эстония</string>
		<key>ET</key>
		<string>Эфиопия</string>
		<key>ZA</key>
		<string>ЮАР</string>
		<key>OS</key>
		<string>Южная Осетия</string>
		<key>SS</key>
		<string>Южный Судан</string>
		<key>JM</key>
		<string>Ямайка</string>
		<key>JP</key>
		<string>Япония</string>
	</dict>
	<key>Languages</key>
	<dict>
		<key>AZ</key>
		<string>Азербайджанский</string>
		<key>EN</key>
		<string>Английский</string>
		<key>AR</key>
		<string>Арабский</string>
		<key>BN</key>
		<string>Бенгальский</string>
		<key>PT-BR</key>
		<string>Бразильский</string>
		<key>HU</key>
		<string>Венгерский</string>
		<key>VI</key>
		<string>Вьетнамский</string>
		<key>NL</key>
		<string>Голландский</string>
		<key>EL</key>
		<string>Греческий</string>
		<key>DA</key>
		<string>Датский</string>
		<key>IN</key>
		<string>Индонезийский</string>
		<key>ES</key>
		<string>Испанский</string>
		<key>ES-419</key>
		<string>Испанский Латам</string>
		<key>IT</key>
		<string>Итальянский</string>
		<key>KK</key>
		<string>Казахский</string>
		<key>ZH</key>
		<string>Китайский</string>
		<key>KO</key>
		<string>Корейский</string>
		<key>LV</key>
		<string>Латышский</string>
		<key>LT</key>
		<string>Литовский</string>
		<key>DE</key>
		<string>Немецкий</string>
		<key>NO</key>
		<string>Норвежский</string>
		<key>PL</key>
		<string>Польский</string>
		<key>PT</key>
		<string>Португальский</string>
		<key>RO</key>
		<string>Румынский</string>
		<key>RU</key>
		<string>Русский</string>
		<key>SR</key>
		<string>Сербский</string>
		<key>SK</key>
		<string>Словакский</string>
		<key>SL</key>
		<string>Словенский</string>
		<key>TG</key>
		<string>Таджикский</string>
		<key>TH</key>
		<string>Тайский</string>
		<key>TR</key>
		<string>Турецкий</string>
		<key>UZ</key>
		<string>Узбекский</string>
		<key>UK</key>
		<string>Украинский</string>
		<key>UR</key>
		<string>Урду</string>
		<key>FI</key>
		<string>Финский</string>
		<key>FR</key>
		<string>Французский</string>
		<key>HI</key>
		<string>Хинди</string>
		<key>HR</key>
		<string>Хорватский</string>
		<key>CS</key>
		<string>Чешский</string>
		<key>SV</key>
		<string>Шведский</string>
		<key>ET</key>
		<string>Эстонский</string>
		<key>JA</key>
		<string>Японский</string>
	</dict>
</dict>
</plist>
